body {
  background-color: #F8F0E5;
}


button {
  background-color: #0f2d59;
  color: #F8F0E5;
  width: 100px;
}

#main {
  color:  #69635b;
  text-align: center;
  font-size: 50px;
}

#flare {
  text-align: center;
  color: #69635b;
}