#pantry {
  font-size: 45px;
}

#main {
  font-size: 50px;
  color: #143530;
  text-decoration: underline;
  text-shadow: 10px 5px 15px;
}

#canned {
  font-size: 28px;
  color: #3d1824;
  text-decoration: underline;
  text-align: center;
}

#dry {
  font-size: 28px;
  color: #3d1824;
  text-decoration: underline;
  text-align: center;
}

#freezer {
  font-size: 45px;
}

#veggies {
  font-size: 28px;
  color: #3d1824;
  text-decoration: underline;
  text-align: center;
}

#snacks {
  font-size: 28px;
  color: #3d1824;
  text-decoration: underline;
  text-align: center;
}

#pantry_img {
  padding-top: 50px
}

#freezer_img {
  padding-top: 50px;
}

table {
  border-style: inset;
  border: solid 5px;
  background-color: #E27D60;
  box-shadow: 15px 5px 5px #143530;
}

th {
  color: #4b301d;
  border: solid 2px;
  background-color: #E8A87C;
  text-align: center;
  box-shadow: 10px 5px 3px #3d1824
}

td {
  color: #36101c;
  border: solid 2px;
  background-color: #C38D9E;
  width: 250px;
  box-shadow: 10px 5px 3px #3d1824;
}


h2 {
  text-align: center;
}

img {
  position: absolute;
  margin-left: 650px;
}