#pantry {
  font-size: 45px;
}

#main {
  font-size: 50px;
  color: #143530;
  text-decoration: underline;
}

body {
  background-color: #41B3A3;
}

table {
  border-style: inset;
  border: solid 5px;
  background-color: #E27D60;
}

th {
  color: #4b301d;
  border: solid 2px;
  background-color: #E8A87C;
  text-align: center;
}

td {
  color: #36101c;
  border: solid 2px;
  background-color: #C38D9E;
  width: 250px;
}


h2 {
  text-align: center;
}