body {
    background-color: rgb(1, 1, 22);
}

h1 {
    font-size: 74px;
    text-align: center;
    text-decoration: underline;
    color: rgb(5, 121, 5);
}

ul {
    color: white;
}

ol {
    color: white;
    font-size: 18px;
}

h2 {
    color: gainsboro;
}

a {
    text-decoration: none;
}
article {
    font-size: 16px;
    color: white;
}